.li-style {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &:hover {
    background-color: $gray-200;
    border-radius: 5px;
    button {
      opacity: 1;
      cursor: pointer;
    }
  }
  .btn-todoitem {
    opacity: 0;
    cursor: default;
  }
}

.DynamicBox {
  display: block;
  border-bottom: 3px solid #E5E5E5;
  padding-bottom: 16px;
  & input {
    &[type="checkbox"] {
      cursor: pointer;
      position: relative;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      outline: none;
      transition: 0.5s;
      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $info;
        border-radius: 5px;
        box-sizing: border-box;
        transition: 0.5s;
      }
    }
    &:checked[type="checkbox"]::before {
      border: 3px solid $primary;
      border-left: none;
      border-top: none;
      border-radius: 3px;
      width: 12px;
      transform: rotate(40deg) translate(5px, -6px);
    }
  }
}

// .btn-todoitem {
  // opacity: 0;
  // cursor: none;
  // button {
  //   display: none;
  //   position: relative;
  //   top: 6px;
  //   font-size: 24px;
  //   border: 2px solid transparent;
  //   background-color: $info;
  // }
  // &:hover {
  //   background-color: $info;
  //   button {
  //     display: inline-block;
  //     vertical-align: middle;
  //     &:hover {
  //       color: $danger;
  //       border: 2px solid $info;
  //       border-radius: 5px;
  //     }
  //   }
  // } 
// }